*
{
padding: 0px;
margin:0px;
font-family: Arial, Helvetica, sans-serif;

}
body
{
   
    width: 100%;
    height: 600px;
    max-width: 1200px;
   
    


}
.contenedor
{
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    border:red solid 3px;
    background-color: aqua;
}
.caja
{
    
    width: 100%;
    border: blue solid 3px;
    background-color: green;
}
nav
{
    border:darkgreen solid 3px;
}
h1
{
    background: yellowgreen;
    padding: 25px;
    
    
}
h2
{
    background: gold;
}
h3
{
    background-color: aqua;
}
header
{
    background-color:cornflowerblue;
    
    
}
a
{
 
    color: yellow;
    background-color: blue;
    
    margin:4px;
    padding: 4px;
}
a :hover 
{
    background-color:red;
}
article
{

    width: 100%;
    background: yellow;
    
  
}
article :nth-last-child(1)
{
    background: orange;
    


}
aside
{
    width: 50%;
    background: darkgoldenrod;
    
    
}
footer
{
background-color: brown;

}